@import url("./constants.css");

.TableHeader {
	color: white;
	background-color: var(--blue400);
}

th {
	padding: 1rem 2rem;
	text-transform: uppercase;
}
th:first-child {
	border-radius: var(--table-border-radius) 0 0 0;
}
th:last-child {
	border-radius: 0 var(--table-border-radius) 0 0;
}