@import url("./constants.css");

td {
	padding: 2rem 0;
	text-align: start;
	height: min(2rem, 100px);
}

.centered {
	text-align: center;
}
.centered > div {
	display: inline-block;	
}

.outlined > div {
	border: 1px solid var(--blue400);
	
}