@import url("../../constants.css");


tr:nth-child(odd) {
	background-color: white;
}
tr:last-child > td:first-child {
	border-radius: 0 0 0 var(--table-border-radius);
}
tr:last-child > td:last-child {
	border-radius: 0 0 var(--table-border-radius) 0;
}

td {
	padding: 2rem 0;
	height: min(2rem, 100px);
	text-align: center;
}

.centered {
	text-align: center;
}
.centered > div {
	display: inline-block;
}

.outlined > div {
	border: 3px solid var(--blue400);
	width: 6rem;
	padding-block: .5rem;
	border-radius: 0.5rem;
	text-transform: uppercase;
}

.oneline {
	white-space: nowrap;
	padding-inline: 1rem;
}