@import url("./constants.css");

td {
	padding: 2rem 0;
	text-align: start;
	height: min(2rem, 100px);
}

.centered {
	text-align: center;
}
.centered > div {
	display: inline-block;
}

.outlined > div {
	border: 3px solid var(--blue400);
	width: 6rem;
	padding-block: .5rem;
	border-radius: 0.5rem;
	text-transform: uppercase;
}