@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
	--ffMain: "Montserrat", sans-serif;
	--fw400: 500;

	--blue400: hsl(210, 86%, 53%);
	--gray100: hsl(0, 0%, 95%);
	--gray400: hsl(0, 0%, 75%);

	--table-border-radius: 0.5rem;
}