@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
	--ffMain: "Montserrat", sans-serif;
	--fw400: 500;
	--fs300: 12px;
	--fs400: 15px;
	--fs500: 18px;
	--fs600: 20px;

	--blue200: hsl(210, 86%, 63%);
	--blue400: hsl(210, 86%, 53%);
	--gray100: hsl(0, 0%, 95%);
	--gray300: hsl(0, 0%, 85%);
	--gray400: hsl(0, 0%, 75%);
	--gray700: hsl(0, 0%, 50%);
	--shadow: hsla(0, 0%, 50%, 50%);

	--table-border-radius: 0.5rem;
}