@import url("./constants.css");

body {
  margin: 0;
  font-family: var(--ffMain);
  font-weight: 300;
  font-size: var(--fs400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
